<section class="theEnd">
    <h1 class="title_theEnd">Hoping to celebrate with you!</h1>
    <div class="gallery">
        <figure class="gallery__item gallery__item--1">
            <img src="../../../assets/imgages/preWedding/LVH_3696.JPG" alt="Gallery image 1" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--2"> 
            <img src="../../../assets/imgages/preWedding/LVH_3932.JPG" alt="Gallery image 2" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="../../../assets/imgages/preWedding/LVH_3989.JPG" alt="Gallery image 3" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="../../../assets/imgages/preWedding/LVH_4541.JPG" alt="Gallery image 4" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="../../../assets/imgages/preWedding/LVH_5673.JPG" alt="Gallery image 5" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="../../../assets/imgages/preWedding/LVH_5063.JPG" alt="Gallery image 6" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--7">
            <img src="../../../assets/imgages/preWedding/LVH_5450.JPG" alt="Gallery image 7" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--8">
            <img src="../../../assets/imgages/preWedding/LVH_5911.JPG" alt="Gallery image 8" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--9">
            <img src="../../../assets/imgages/preWedding/LVH_6068.JPG" alt="Gallery image 9" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--10">
            <img src="../../../assets/imgages/preWedding/LVH_6623.JPG" alt="Gallery image 10" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--11">
            <img src="../../../assets/imgages/preWedding/LVH_6374.JPG" alt="Gallery image 11" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--12">
            <img src="../../../assets/imgages/preWedding/LVH_6539.JPG" alt="Gallery image 12" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--13">
            <img src="../../../assets/imgages/preWedding/LVH_5886.JPG" alt="Gallery image 13" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--14">
            <img src="../../../assets/imgages/preWedding/LVH_4258.JPG" alt="Gallery image 14" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--15">
            <img src="../../../assets/imgages/preWedding//LVH_4763.JPG" alt="Gallery image 15" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--16">
            <img src="../../../assets/imgages/preWedding/LVH_6429.JPG" alt="Gallery image 16" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--17">
            <img src="../../../assets/imgages/preWedding/LVH_4332.JPG" alt="Gallery image 17" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--18">
            <img src="../../../assets/imgages/preWedding/LVH_5988.JPG" alt="Gallery image 18" class="gallery__img">
        </figure>
    </div>
</section>