<app-header></app-header>
<div class="photos">
    <div class="photos_title">
        Our Memories
    </div>
    <div class="photos_des">
        Join us on an enchanting exploration through our carefully curated albums that encapsulate the beauty, culture, and memories of our travels in Vietnam. Our albums are a testament to the love we share and the extraordinary memories we've created along the way.
    </div>
    <div class="photos_img gallery">
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
        <div class="col-2">
            <figure class="gallery__item gallery__item--1">
                <img src="../../../assets/imgages/photo-wedding/088A8426.jpg" class="gallery__img" alt="">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="../../../assets/imgages/photo-wedding/088A8254.jpg" class="gallery__img" alt="">
            </figure>
            <div class="gallery__address">
                Hà Nội
            </div>
        </div>
    </div>
</div>

<app-gallerys-child></app-gallerys-child>