
.photos {
    // margin: 0  7rem;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 24rem;
    &_title {
        font-size: 5rem;
        font-weight: 300;
        font-family:'Times New Roman', Times, serif;
        text-align: center;
        margin-bottom: 3rem;
        @media only screen and (max-width: 600px) {
            font-size: 3rem;
            text-align: center;
            // padding: 5rem 0;
            margin-bottom: 2rem;

        }
    }
    &_des {
        font-size: 2rem;
        letter-spacing: 1.5px;
        // font-weight: 200;
        font-family: cursive;
        text-align: center;
        width: 50%;
        left:50%;
        font-style: italic;
        transform: translateX(50%);
        margin-bottom: 5rem;
        @media only screen and (max-width: 600px) {
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 2rem;    
        }
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7rem;
        text-align: center;
        justify-content: center;
        justify-content: center;
        padding: 0 24rem;

        @media only screen and (max-width: 600px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            padding: 0 3rem;

        }
        .col-2 {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
            justify-items: center;
            .des_address {
                grid-column:  span 2;
                font-size: 1.3rem;
            }
        }
       
        .gallery__img {
            width: auto;
            height: 28rem;
            object-fit: cover;
            display: block;
            @media  only screen and (max-width: 600px) {
                object-fit: cover;
                display:block;
            }
        }
    }


}