.countdown {
    max-width: 100%;
    padding: 5rem 0;
    text-align: center;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 7rem;
        font-weight: 500;
        margin-bottom: 3rem;
        font-family: 'Cookie', cursive;

    }
    span {
        // padding: 2rem 2rem;
        font-size: 5rem;
        margin-bottom: 4rem;
        line-height: 2rem;
        font-family: 'Cookie', cursive;

    }
    &_container_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 4rem 54rem;
        gap: 5rem;
        &_item {
            font-family: 'Cookie', cursive;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            border: 2px solid rgb(218, 238,232);
            box-shadow: 5px 3px #8888;
            padding: 2rem 0;
            color: #000;
            border-radius: 20%;
            h2 {
                margin-top: 0;
                margin-bottom: 1.5rem;
                font-size: 5rem;
            }
            p {
                margin: 0;
                font-size: 3rem;
            }

        }
    }
}