<div class="photos">
    <div class="photos_title">
        Our wedding photos
    </div>
    <div class="photos_des">
        We believe each picture taken contains a memory, a story and an unforgettable moment. It also recalls our emotions through gestures and destinations when reviewing them back. Therefore, it is our joy and guideline to display our images so that our journey lasts through eternity.
    </div>
    <div class="photos_img composition">
        <img src="../../../assets/imgages/photo-wedding/088A8257.jpg" class="composition__photo composition__photo--p1" alt="">
        <img src="../../../assets/imgages/photo-wedding/088A8257.jpg" class="composition__photo composition__photo--p2" alt="">
        <img src="../../../assets/imgages/photo-wedding/088A8257.jpg" class="composition__photo composition__photo--p3" alt="">
    </div>
</div>