@import '../../../styles.scss';

.header {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    overflow: hidden;

    &__logo-box {
        width: 10rem;

        .header__logo {
            width: 100%;
            object-fit: cover;
            transform: scale(1.5)
        }
    }

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ &__nav {
        transform: translateX(0);
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__icon {
        display: none;
        position: relative;
        z-index: 200;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #000;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }

        @include mobile {
            display: inline-block;
        }
    }

    &__nav {
        &_list {
            display: flex;
            list-style: none;

            @include mobile{
                flex-direction: column;
            }

            &_item {
                margin-right: 2rem;
                padding: 2rem 1rem;
                border-bottom: 0.2rem solid #999;
                font-weight: 500;
                font-size: 2.4rem;
                font-family: 'Times New Roman', Times, serif;
                letter-spacing: .1rem;
                text-decoration: none;
                color: #000;
                cursor: pointer;

                @include mobile{
                    text-transform: uppercase;
                }

                &:hover {
                    color: #00cdce;
                    border-color: #00cdce;
                    transition: all 0.5s;
                }
            }
        }

        @include mobile {
            transform: translateX(100%);
            position: fixed;
            height: 100vh;
            top: 0;
            left: 0;
            background: rgba($color: #fff, $alpha: 0.9);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: linear 0.2s;
        }
    }

    // &__text-box {
    //     position: absolute;
    //     top: 35%;
    //     left: 10%;
    //     text-align: left;
    //     font-size: 3.5rem;
    //     display: block;
    //     animation-name: moveInleft;
    //     animation-duration: 2.5s;
    //     animation-timing-function: ease-out;
    //     .header-primary {
    //         color: #000;
    //         &--main {
    //             display:block;
    //             font-size: 7rem;
    //             padding: 4rem 0;
    //             text-transform: uppercase;
    //             letter-spacing: 1.5rem;
    //             font-family: 'Times New Roman', Times, serif;
    //         }
    //         &--sub {
    //             display: block;
    //             font-size: 2rem;
    //             font-family: 'Times New Roman', Times, serif;
    //             font-weight:900;
    //             padding: 1rem 0;
    //             letter-spacing: .5rem;
    //         }
    //         }
    //     }

}