<header class="header">
    <div class="header__logo-box">
        <a class="nav-link" routerLink="/">
            <img src="../../../assets/imgages/photo-wedding/logoTD.jpeg" alt="" class="header__logo">
        </a>
    </div>

    <input type="checkbox" class="header__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="header__button">
        <span class="header__icon">&nbsp;</span>
    </label>

    <nav class="header__nav">
        <ul class="header__nav_list">
            <a class="header__nav_list_item" routerLink="/">Xuân Thành & Ánh Dương</a>
            <a class="header__nav_list_item" routerLink="ourmemory">Góc kỉ niệm</a>
            <a class="header__nav_list_item" routerLink="prewedding">Ảnh cưới</a>
        </ul>
    </nav>

    <!-- <div class="header__text-box">
        <h2 class="header-primary">```
            <span class="header-primary--sub"> We're Getting Married</span>
        </h2>
        <h1 class="header-primary">
            <span class="header-primary--main">THÀNH & DƯƠNG</span>
            <span class="header-primary--sub">Saturday, April 12, 2024</span>
            <span class="header-primary--sub">5th Floor, Amor Resort</span>
        </h1>
    </div> -->
</header>