<header class="header">
    <div class="header__logo-box">
        <img src="../../../assets/imgages/photo-wedding/logoTD.jpeg" alt="" class="header__logo">
    </div>

    <nav class="header__nav">
        <ul class="header__nav_list">
            <li class="header__nav_list_item">
                <a class="nav-link" routerLink="/">Xuân Thành & Ánh Dương</a>
            </li>
            <li class="header__nav_list_item">
                <a class="nav-link" routerLink="ourmemory">Góc kỉ niệm</a>
            </li><li class="header__nav_list_item">
                <a class="nav-link" routerLink="prewedding">Ánh cưới</a>
            </li>
        </ul>
    </nav>

    <!-- <div class="header__text-box">
        <h2 class="header-primary">```
            <span class="header-primary--sub"> We're Getting Married</span>
        </h2>
        <h1 class="header-primary">
            <span class="header-primary--main">THÀNH & DƯƠNG</span>
            <span class="header-primary--sub">Saturday, April 12, 2024</span>
            <span class="header-primary--sub">5th Floor, Amor Resort</span>
        </h1>
    </div> -->
</header>


