<section class="section-stories">
    <div class="heading">
        <h2 class="heading-secondary">
            About us
        </h2>
    </div>

    <div class="stories">
        <div class="row">
            <div class="col-6">
                <div class="story">
                    <figure class="story__shape">
                        <img src="../../../assets/imgages/photo-wedding/088A8255.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Xuân Thành</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Xuân Thành</h3>
                        <p>
                            Chàng rể : Là một người hiền lành, sống có trách nhiệm nhưng hơi bướng. Luôn coi trọng tình cảm và yêu thương gia đình. Với anh: “Gia đình là điểm tựa vững chắc nhất và là bến đỗ bình yên không đâu sánh bằng đối với mỗi con người. Đó luôn là nơi tràn ngập tình yêu thương để ta trở về.” Chàng và Nàng là 1 cặp từ thuở bạn học cấp 3, trải qua bao nhiêu sóng gió hơn 14 năm để rồi đến với nhau, và kết thành phu thê hạnh phúc trăm năm.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="story">
                    <figure class="story__shape">
                        <img src="../../../assets/imgages/photo-wedding/088A8255.jpg" alt="Person on a tour" class="story__img">
                        <figcaption class="story__caption">Ánh Dương</figcaption>
                    </figure>
                    <div class="story__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">Ánh Dương</h3>
                        <p>
                            Nàng dâu: Là một người hay cười nhưng lại sống nội tâm, thích đọc sách, trồng cây và yêu thiên nhiên. Bên cạnh đó là một người tin sâu Phật pháp và luật nhân quả ,Sau khi tốt nghiệp ĐH Sư phạm TP.HCM, tiếp tục theo đuổi ngành nghề sư phạm và hiện tại có định hướng về Quảng Ngãi để giảng dạy. Biết bao trải nghiệm khó quên , hờn dỗi có, hạnh phúc có, nhưng quan trọng hơn hết là có thể hòa hợp để cùng nhau xây dựng hạnh phúc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>